.dropdown_menu {
	position: relative;
}

.menu_button {
	background-color: transparent;
	border: 0;
	color: #fff;
	cursor: pointer;

	&[aria-expanded='true']:before {
		background-color: #454e3f;
		bottom: 0;
		content: '';
		height: 4px;
		left: 0;
		position: absolute;
		right: 0;
		transition: all ease 0.2s;
	}
}

.menu_wrap {
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0px -1px 10px 1px rgb(0 0 0 / 10%);
	min-width: 220px;
	padding: 8px;
	position: absolute;
	right: 0;
	top: 65px;
	z-index: 2;
}

.menu_item {
	color: #000;
	display: block;
	margin: 0;

	> button,
	> a {
		background-color: transparent;
		border: 0;
		border-radius: 6px;
		display: block;
		font-size: inherit;
		padding: 10px 15px;
		text-align: left;
		width: 100%;

		&:hover {
			background-color: #76836e;
			color: #fff;
			cursor: pointer;
		}
	}
}
